<section class="section">
  <div class="section__content">
    <div class="faq">

      <div class="section__item faq__item faq__item--open">
        <h3 class="faq__q">Proč je eRouška potřeba? Dokáže mě vůbec efektivně chránit před nákazou?</h3>
        <div class="faq__a">
<p>Cílem aplikace eRouška je zpomalit a ideálně zastavit šíření nákazy. Pomáhá co nejdříve izolovat potenciálně nakažené osoby od ostatních. Tím přispívá k postupnému uvolňování celostátní karantény a snížení dopadů pandemie na společnost a ekonomiku ČR. Aplikace na podobném principu fungují i v dalších státech a většinou jsou velmi účinným prostředkem v boji proti šíření koronaviru. </p>
<p>Aplikace eRouška je jedním z konceptů chytré karantény. Aplikace se přes Bluetooth spojí s dalšími telefony s eRouškou v nejbližším okolí a uloží jejich identifikátory. Pokud bude později některý z uživatelů eRoušky označen pracovníkem hygieny za pomoci testů jako nakažený, epidemiologický model vyhodnotí, zda jste s ním přišli do kontaktu dost dlouho na to, aby bylo nutné vás varovat a směřovat k dalšímu vyšetření.  </p>
<p>eRouška tedy pomáhá pracovníkům hygienické stanice co nejefektivněji identifikovat potenciální přenašeče viru a na dobu nezbytně nutnou je požádat o izolaci a opatrnost. Tím se sníží počet infikovaných ve společnosti, a tím i vaše riziko infekce.</p>
        </div>
      </div>

    <div class="section__item faq__item">
        <h3 class="faq__q">To budu muset pokaždé do automaticky do karantény nebo na testy, když aplikace hygieně zahlásí, že jsem byl v kontaktu s někým nakaženým?</h3>
        <div class="faq__a">
<p>Pokud hygiena na základě sesbíraných dat z aplikace nakaženého vyhodnotí, že jste s ním mohl/a být dostatečně dlouho v rizikovém kontaktu, pokusí se vás nejprve telefonicky kontaktovat. S pracovníkem hygieny společně po telefonu vyhodnotíte, jestli vám skutečně hrozila nákaza, a podle toho se domluvíte na dobrovolné karanténě, přednostním testování nebo jiném postupu.</p>
<p>Aplikace tedy pomáhá hygieně rychleji se spojit s potenciálně rizikovými kontakty a na základě osobního pohovoru vyhodnotit, jestli šlo jen o “planý poplach”, nebo je potřeba vás a ostatní nějak dál chránit. Nemusíte mít proto obavu, že by šlo o automatizovaný proces, který nemůžete ovlivnit.</p>
        </div>
      </div>

       <div class="section__item faq__item">
        <h3 class="faq__q">V mé blízkosti je jen jeden, nebo dva telefony s aplikací eRouška, přitom ale vidím v záložce Moje Data řadu dalších ID? To chytám i signál lidí z okolních bytů nebo domů? </h3>
        <div class="faq__a">
<p>ID každého uživatele se opakovaně mění, abychom zvýšili anonymitu a bezpečí uživatelů. Proto jich můžete v telefonu vidět řádově více, ale přitom může jít stále o jedno stejné zařízení.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Má smysl si eRoušku instalovat, když ji nebude používat dost lidí?</h3>
        <div class="faq__a">
<p>Právě proto byste neměli váhat. Čím více nás bude eRoušku používat, tím lepší vytvoříme síť, která nás bude vzájemně chránit a varovat před rizikem.</p>
<p>Spolupracujeme s vládou ČR a dalšími organizacemi na tom, aby se o eRoušce dozvědělo co nejvíce lidí. Pomozte nám i vy. Instalací aplikace se můžete aktivně zapojit do boje proti koronaviru. O aplikaci můžete říct i lidem ve svém okolí, případně jim s jejich souhlasem pomoci s instalací.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Jak se eRouška liší od jiných podobných aplikací?</h3>
        <div class="faq__a">
<p>Z dat aplikace eRouška nelze zjistit, kdy jste se kde pohybovali. Aplikace eRouška nezaznamenává vaši geografickou polohu, ale rozpoznává ostatní zařízení s aplikací eRouška v okolí využitím technologie Bluetooth. Tyto informace jsou anonymizované.</p>
<p><em>Zapsaná informace vypadá např. takto: 31.3.2020 od 12:15 do 13:15 byla ve vaší blízkosti aplikace s identifikátorem ID 29091. </em></p>
<p>Kromě toho eRouška sama od sebe informace nikam neodesílá, zůstávají uložené ve vašem zařízení. K odeslání dat ministerstvu zdravotnictví či jemu podřízené hygienické stanici může dojít až ve chvíli, kdy vás pracovník call centra hygieny kontaktuje na základě pozitivního testu a požádá vás o souhlas se zpracováním dat, která aplikace sesbírala. Na základě tohoto požadavku pak přímo z aplikace odešlete vámi nasbíraná data do centralizované databáze hygienické stanice.</p>
<p>Tato odeslaná data vyhodnotí pověřený pracovník hygienické stanice. Uživatele aplikace eRouška, kteří se delší dobu vyskytovali ve vaší blízkosti, kontaktuje pracovník hygienické stanice s pokyny o dalším postupu.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Proč chce aplikace znát mé telefonní číslo?</h3>
        <div class="faq__a">
<p>Telefonní číslo využije hygienická stanice, aby vás mohla v případě potřeby co nejdříve kontaktovat. To nastane jen tehdy, pokud bude mít na základě informací z eRoušky nakaženého člověka podezření, že jste s ním byli v rizikovém kontaktu. Proto telefonní číslo registrujete hned při prvním spuštění eRoušky.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Jak mám postupovat, když mi test potvrdí nákazu?</h3>
        <div class="faq__a">
<p>V první řadě kontaktujte hygienickou stanici, pod kterou místně spadáte, pokud vás již nekontaktovala sama. Pověřený pracovník vám poskytne informace o tom, jak dále postupovat, a případně vás požádá o souhlas s odesláním dat z aplikace. Dále byste měli zavolat svému praktickému lékaři, který vám indikuje léčbu.</p>
<p><strong>V případě závažných zdravotních komplikací volejte linky 112 a 155.</strong></p>
<p>Aktuální informace se dozvíte vždy na celostátní informační telefonní lince <strong>1212</strong> nebo <a href="https://koronavirus.mzcr.cz/" target="_blank">na webu Ministerstva zdravotnictví ČR</a>.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Takže všichni budou vědět, že mám COVID-19? </h3>
        <div class="faq__a">
<p>Nebudou. Pověřený pracovník hygienické stanice sice kontaktuje registrované uživatele, se kterými byl nakažený podle dat z aplikace v rizikovém kontaktu, ale bez jeho souhlasu nesmí tuto informaci s nikým dalším sdílet. Nikdo se tedy nedozví, že jste to zrovna vy.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Co když někdo nepřizná, že je nemocný?</h3>
        <div class="faq__a">
<p>I to se může stát. Věříme však, že uživatelé eRoušky chtějí aktivně pomáhat se zastavením dalšího šíření nákazy a aplikaci využijí, aby mohli co nejdříve varovat osoby, se kterými přišli do rizikového kontaktu. Záměrné šíření koronaviru je v ČR považováno za trestný čin. </p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Co je to inteligentní/chytrá karanténa? Jakou v ní hraje roli eRouška?</h3>
        <div class="faq__a">
<p>Jde o soubor chytrých opatření, která chrání lidi před nákazou a ekonomiku před kolapsem. Místo toho, aby do karantény uvrhla celý národ, do striktní karantény izoluje pouze nemocné a z nemoci důvodně podezřelé lidi. Pomocí dostupných technologií pak následně můžeme aktivně upozornit rizikové jedince, kteří se setkali s nakaženým, a i je dát do preventivní karantény, čímž zamezíme skokovému šíření nákazy. Důsledné testování pak oddělí zdravé od těch, kteří jsou nakažení a potřebují další zdravotnickou péči. Díky těmto krokům věříme, že se podaří zmírnit šíření nákazy a ušetřit zdravotnictví fatálního přetížení.</p>
<p>Aplikace eRouška je jeden z projektů, který vznikl na podporu <a href="https://www.covid19cz.cz/covid19-cz/manifest/chytra-karantena" target="_blank">chytré karantény</a>.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Pozná eRouška, když poruším lékařem nařízenou karanténu nebo třeba pojedu na chatu?</h3>
        <div class="faq__a">
<p>Aplikace nesleduje vaši polohu, není to její účel a ani pro to není navržena. Nepozná tedy, zda jste porušili karanténní opatření nebo odjeli na chatu. Má naopak pomoci k tomu, aby v karanténě byly pouze osoby s diagnostikovaným onemocněním nebo s vážným podezřením nákazy. </p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Jak dlouho do minulosti jsou data k dispozici? Kdy a jak probíhá jejich mazání?</h3>
        <div class="faq__a">
<p>V aplikaci eRouška se uchovávají data zaznamenaná za posledních 30 dní, starší záznamy se automaticky odmazávají. Pokud na výzvu pracovníka hygieny udělíte souhlas se zpracováním a odešlete data z telefonu na server, zůstanou zde maximálně 12 hodin a poté dojde k jejich smazání. </p>
<p>Telefonní číslo uchováváme po dobu 6 měsíců od registrace, nebo do rozhodnutí ministerstva zdravotnictví o tom, že tento údaj není nutné dále zpracovávat, nebo do vaší žádosti o zrušení registrace, podle toho, co nastane dříve. Data můžete smazat kdykoliv sami přímo v aplikaci v sekci Moje data, registraci tel. čísla zrušíte v aplikaci kliknutím na “Zrušit registraci” pod třemi tečkami vpravo nahoře.</p>
<p>Informace o správcích a zpracovatelích dat naleznete v <a href="https://erouska.cz/gdpr" target="_blank">Podmínkách zpracování osobních údajů při užívání aplikace eRouška.cz</a>.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Co když mi telefon ukradnou nebo ho ztratím?</h3>
        <div class="faq__a">
          <p>V aplikaci eRouška jsou lokálně uložené jen anonymní informace o dalších zařízeních, která eRouška zaznamenala ve svém okolí. Žádné riziko to nepřináší pro vás ani pro majitele takto zaznamenaných zařízení. Jiné aplikace, které běžně využíváte, mohou ve vašem telefonu pravděpodobně ukládat mnohem citlivější údaje. Mějte proto svůj telefon chráněný kódem nebo biometricky (otiskem prstu nebo obličejem).</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Je aplikace eRouška v souladu s GDPR?</h3>
        <div class="faq__a">
<p>Celý systém aplikace eRouška, včetně webových stránek, je navržen plně v souladu se Zákonem o ochraně osobních údajů a GDPR. </p>
<p>Zde naleznete bližší informace:</p>
<ul>
  <li><a href="https://erouska.cz/gdpr" target="_blank">Podmínky zpracování osobních údajů při užívání aplikace eRouška.cz</a></li>
  <li><a href="https://erouska.cz/audit-kod" target="_blank">Audit zdrojového kódu aplikace</a></li>
  <li><a href="https://www.covid19cz.cz/covid19-cz/zavazek-datove-duvery" target="_blank">Závazek datové důvěry iniciativy COVID19CZ</a></li>
</ul>
        </div>
      </div>

    </div>

  </div>
</section>

<section class="section">
  <h2 class="section__title section__title--red">Technické dotazy</h2>
  <div class="section__content">
    <div class="faq">

      <div class="section__item faq__item faq__item--open">
        <h3 class="faq__q">Na jakých telefonech aplikace eRouška funguje?</h3>
        <div class="faq__a">
          <p>Pokud váš telefon není s eRouškou kompatibilní, Google Play ani App Store vám neumožní aplikaci nainstalovat.</p>
          <p>Pro instalaci aplikace eRouška potřebujete chytrý telefon s těmito parametry:</p>
          <ul>
            <li>iOS verze 11 a vyšší</li>
            <li>OS Android verze 5.0 a vyšší s Google services (nemá jen malé procento telefonů Huawei a některé telefony s vlastní ROM)</li>
            <li>Bluetooth LE (Low Energy) <sup>*</sup></li>
          </ul>
          <p><sup>*</sup> Některé starší modely telefonů (např. Google Nexus 5, Honor 7 lite, atp.) mohou fungovat jen částečně - vidí přes Bluetooth telefony v okolí, ale ostatní smartphony je bohužel zpětně nevidí. Důvodem je, že ještě nejsou vybavené funkcí Bluetooth LE Advertising. I přesto má jejich použití smysl.</p>
        </div>
      </div>

       <div class="section__item faq__item">
        <h3 class="faq__q">Proč je potřeba aplikaci povolit přístup k GPS/polohovým/lokačním údajům?</h3>
        <div class="faq__a">
<p>Aplikace eRouška nesbírá a neukládá data z GPS, avšak operační systém Android zahrnuje pod určování polohy také některé služby Bluetooth LE (LE = low energy), které eRouška pro své fungování potřebuje. Proto je nutný souhlas uživatele s přístupem aplikace k polohovým údajům. V iOS tento souhlas nutný není.</p>
<p>Více informací je k dispozici <a href="https://developer.android.com/guide/topics/connectivity/bluetooth#Permissions" target="_blank">na webu OS Android pro vývojáře</a>.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Jak probíhá sběr dat a jejich zpracování?</h3>
        <div class="faq__a">
<p>Chytrý telefon s aplikací eRouška zaznamená přes Bluetooth anonymní identifikátor (ID) z jiných zařízení s touto aplikací. Informaci o “setkání” a jeho délce ukládá do své vnitřní paměti. </p>
<p><em>Zapsaná informace vypadá např. takto: 31.3.2020 od 12:15 do 13:15 byla ve vaší blízkosti aplikace s identifikátorem ID 29091. </em></p>
<p>Seznam těchto “setkání” můžete z aplikace odeslat do centrální databáze v případě, že budete osloveni pracovníkem hygienické stanice z důvodu pozitivního testu, nebo kvůli podezření na rizikový kontakt s nakaženým. Do centrální databáze mají přístup jen pověření pracovníci hygienické stanice. Ti mohou spojit identifikátor aplikace s registrovaným telefonním číslem a upozornit ty uživatele eRoušky, kteří s vámi přišli do rizikového kontaktu. </p>
<p><em>Pracovníci hygieny tedy vidí, že např. ID 29091 je propojeno s telefonním číslem 123 456 789.</em></p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Musím mít Bluetooth zapnutý neustále?</h3>
        <div class="faq__a">
<p>Ano. Bez zapnutého Bluetooth není možné zjišťovat blízkost dalších zařízení s nainstalovanou aplikací eRouška. Tuto funkci máte zapnutou možná i nyní, například v případě, že používáte bezdrátová sluchátka, připojení v autě, chytrý náramek nebo hodinky.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Kolik baterie aplikace a zapnutý Bluetooth spotřebují?</h3>
        <div class="faq__a">
<p>Jestliže již nyní používáte telefon se stále zapnutým Bluetooth, spotřeba energie se nezvýší.</p>
<p>Pokud Bluetooth nyní běžně nepoužíváte, podle výsledků našeho testování s neustále zapnutým Bluetooth a ukládáním dat do aplikace byla denní spotřeba energie v řádu jednotek procent. Ve většině případů to je méně než 20 % kapacity baterie za den. Záleží přitom na konkrétním chytrém telefonu, stylu jeho používání a stavu baterie.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Proč aplikace používá zrovna Bluetooth? Neexistují lepší řešení jako GPS nebo triangulace od operátorů?</h3>
        <div class="faq__a">
<p>Soukromí uživatelů je pro nás na prvním místě, a právě technologie Bluetooth nabízí nejvyváženější poměr přesnosti záznamu a minimálního zásahu do soukromí. Technologie GPS ani triangulace vysílačů od operátorů nemohou poskytnout potřebné údaje s požadovanou přesností. Mimo jiné i proto, že jejich funkčnost je v budovách, garážích či metru velmi omezená. Aplikace eRouška potřebuje pro svoji funkci informace o tom, že došlo k setkání, na jakou vzdálenost a po jakou dobu. Není důležité, kde k setkání došlo.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Nemůže se stát, že eRouška mylně vyhodnotí kontakt s jinou osobou, která je například vedle v autě na křižovatce, za dveřmi nebo tenkou zdí?</h3>
        <div class="faq__a">
<p>Aplikace eRouška funguje na principu měření síly signálu mezi dvěma zařízeními. Technicky nelze vyloučit, že dojde k mylné detekci - například blízký kontakt skrz tenkou zeď se podobá vzdálenějšímu kontaktu bez překážky. Těmto omylům, byť jsou výjimečné, se nedá úplně zabránit. Pracovníci hygienických stanic a jejich call centra jsou s tímto jevem seznámeni a pracují s ním při telefonickém rozhovoru s rizikovými kontakty nakaženého.</p>
<p>Pro vyhodnocení kontaktu jako rizikového je ovšem relevantní též délka kontaktu - prosté zastavení na semaforech je tedy nezajímavé.</p>
        </div>
      </div>
      
            <div class="section__item faq__item">
        <h3 class="faq__q">Co znamená to ID a RSSI v záložce Moje data a proč má RSSI různé barvy?</h3>
        <div class="faq__a">
<p>V sekci Moje data vidíte ID jako část anonymního čísla dalšího uživatele aplikace eRouška, kterého jste potkal/a. RSSI pak ukazuje sílu Bluetooth signálu při vašem setkání. Čím je číslo nižší, tím blíže jste k sobě byli. Barva RSSI údajů navíc znázorňuje, v jak těsné blízkosti druhého uživatele jste byli (červená = velmi blízko, oranžová = středně blízko, zelená = nevýznamné setkání).</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Může mě někdo pomocí aplikace eRouška sledovat?</h3>
        <div class="faq__a">
<p>Ne. Aplikace nesbírá údaje o vaší poloze a k uloženým datům máte přístup pouze vy. Samotné údaje, které aplikace po vašem souhlasu odesílá, nemohou být použity k vašemu sledování.</p>
<p><em>Aplikace automaticky ukládá pouze informace typu: 31.3.2020 od 12:15 do 13:15 byla ve vaší blízkosti aplikace s identifikátorem ID 29091.</em></p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Lze ověřit, že aplikace nezaznamenává moji polohu?</h3>
        <div class="faq__a">
<p>Ano. Nasbíraná data lze kdykoli zobrazit v záložce Moje data. Aplikace eRouška je publikována s otevřeným zdrojovým kódem (<a href="https://github.com/covid19cz/erouska-android" target="_blank">Android</a>, <a href="https://github.com/covid19cz/erouska-ios" target="_blank">iOS</a>), takže znalý člověk může snadno ověřit, že údaje o poloze aplikace opravdu nesbírá.</p>
<p>Zdrojové kódy aplikace eRouška byly <a href="https://erouska.cz/audit-kod" target="_blank">prověřeny nezávislými autoritami</a>, jejichž kontrola potvrdila, že aplikace:</p>
<ul>
  <li>nesleduje polohu</li>
  <li>sama automaticky data nikam neodesílá</li>
</ul>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Lze identifikátor aplikace (ID) uživatele spárovat s konkrétní osobou?</h3>
        <div class="faq__a">
<p>ID eRoušky lze spojit pouze s telefonním číslem uživatele. A to pouze u těch ID, které na základě odeslaných dat od nakažených uživatelů pracovníci hygienické stanice vyhodnotí jako ohrožené nákazou koronavirem. Tuto pravomoc mají jenom určení pracovníci hygienických stanic v zabezpečeném a auditovaném systému.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Kdo má (může mít) přístup k mým datům?</h3>
        <div class="faq__a">
<p>K seznamu setkání máte přístup pouze vy. Až když se dobrovolně na vyzvání rozhodnete odeslat tato data hygienické stanici, přístup získají na omezenou dobu (maximálně na 12 h.) také její pověření pracovníci. Telefonní číslo má k dispozici ministerstvo zdravotnictví a jemu podřízené hygienické stanice, aby vás mohli kontaktovat v případě zjištění, že ve vašem okolí byl nakažený uživatel aplikace eRouška. </p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Jak zjistím, která všechna data přesně aplikace ukládá a odesílá hygienické stanici?</h3>
        <div class="faq__a">
<p>Nasbíraná data lze kdykoli v aplikaci zobrazit v záložce Moje data. Aplikace žádná data sama nikam neodesílá.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Jak uživatele chráníte před zneužitím dat?</h3>
        <div class="faq__a">
<p>Uživatele chráníme především minimálním rozsahem zaznamenávaných dat a jejich ukládáním přímo do zařízení. Data uživatelů se bez jejich vědomí, aktivního odeslání a souhlasu nikam neposílají ani nezpracovávají. Do telefonu se zaznamenávají anonymní identifikátory (ID) zařízení s nainstalovanou aplikací eRouška a informace o čase a délce jejich výskytu v blízkosti uživatele. Zpracovat je mohou po výslovném souhlasu uživatele jen určení pracovníci hygieny. </p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Dohlíží na zabezpečení dat z aplikace nějaká nezávislá organizace?</h3>
        <div class="faq__a">
<p>Ano. Celý systém aplikace eRouška, včetně podpůrných webových stránek, je navržený plně v souladu se Zákonem o ochraně osobních údajů a GDPR. Kód aplikace je jako open-source volně k dispozici (<a href="https://github.com/covid19cz/erouska-android" target="_blank">Android</a>, <a href="https://github.com/covid19cz/erouska-ios" target="_blank">iOS</a>) a prošel <a href="https://erouska.cz/audit-kod" target="_blank">auditem nezávislých vzdělávacích institucí</a>.</p>
<p>Další informace naleznete v <a href="https://erouska.cz/gdpr" target="_blank">Podmínkách zpracování osobních údajů při užívání aplikace eRouška.cz</a> a v <a href="https://www.covid19cz.cz/covid19-cz/zavazek-datove-duvery" target="_blank">Závazku datové důvěry iniciativy COVID19CZ</a>.
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Můžu si používání aplikace kdykoli rozmyslet? Budu moci smazat své telefonní číslo a data, která jsem předal hygienikům?</h3>
        <div class="faq__a">
<p>Ano. V aplikaci je možné smazat veškerá nasbíraná data - jak z vašeho zařízení, tak i ze serveru hygieniků. Stejně tak zde můžete smazat telefonní číslo (zrušit registraci), které jste poskytli při aktivaci aplikace. Vám přidělené identifikační číslo (ID) eRoušky ovšem zůstane zaznamenáno v eRouškách ostatních uživatelů, kteří vás do té doby potkali. Toto ID ale nebude na základě ostatních údajů z aplikace eRouška nadále možné přiřadit k žádnému telefonu, telefonnímu číslu ani osobě. </p>
<p>Pamatujte, že po smazání (zrušení registrace) vašeho telefonního čísla vás nebudou moci hygienici kontaktovat v případě podezření na rizikové setkání s nakaženou osobou.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Co se děje s daty po smazání aplikace z mobilu?</h3>
        <div class="faq__a">
<p>Když smažete aplikaci z telefonu, smažou se i v něm uložená sesbíraná data. Pokud aplikaci znovu nainstalujete, začnou se sbírat a do telefonu ukládat zcela nová data.</p>
<p>Smazáním aplikace se automaticky nesmažou data ze serveru, pokud jste je tam již odeslali, ani se tím nezruší registrace vaše telefonního čísla. Pokud zrušíte registraci svého tel. čísla, nebude vás moci v případě potřeby kontaktovat hygiena.</p>
        </div>
      </div>

      <div class="section__item faq__item">
        <h3 class="faq__q">Kde najdu zdrojový kód aplikace?</h3>
        <div class="faq__a">
          <p>Aplikace eRouška je publikována s otevřeným zdrojovým kódem (<a href="https://github.com/covid19cz/erouska-android" target="_blank">Android</a>, <a href="https://github.com/covid19cz/erouska-ios" target="_blank">iOS</a>).</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="section">
  <h2 class="section__title section__title--blue">Mobilní aplikace</h2>
  <div class="section__content">
    <div class="faq">

      <div class="section__item faq__item faq__item--open">
        <h3 class="faq__q">Co mám dělat, když mi telefon vypíná aplikaci?</h3>
        <div class="faq__a">
          <p>Na odkazech níže najdete stručné návody pro nejpoužívanější telefony, v jejichž nastavení je potřeba zakázat automatické vypínání aplikace eRouška:</p>

          <h4>Telefony značky Asus:</h4>
          <ul>
            <li><a href="https://www.erouska.cz/navody/Asus/1_zajisteni_behu_eRousky_na_pozadi.pdf" target="_blank">Zajištění běhu eRoušky na pozadí (.pdf)</a></li>
          </ul>

          <h4>Telefony značky Honor:</h4>
          <ul>
            <li><a href="https://www.erouska.cz/navody/Honor/1_vyjimka_z_optimalizace_baterie_pro_eRousku.pdf" target="_blank">Výjimka z optimalizace baterie pro eRoušku (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Honor/2_rucni_zapnuti_behu_eRousky_na_pozadi.pdf" target="_blank">Ruční zapnutí běhu eRoušky na pozadí (.pdf)</a></li>
          </ul>

          <h4>Telefony značky Huawei:</h4>
          <ul>
            <li><a href="https://www.erouska.cz/navody/Huawei/1_vyjimka_z_optimalizace_baterie_pro_eRousku.pdf" target="_blank">Výjimka z optimalizace baterie pro eRoušku (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Huawei/2_rucni_zajistei_behu_eRousky_na_pozadi.pdf" target="_blank">Ruční zajištění běhu eRoušky na pozadí (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Huawei/3_zajisteni_spusteni_eRousky_po_vypnuti_obrazovky.pdf" target="_blank">Zajištění spuštění eRoušky po vypnutí obrazovky (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Huawei/4_chraneny_status_pro_eRousku.pdf" target="_blank">Chráněný status pro eRoušku (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Huawei/5_overeni_zpusobu_napajeni.pdf" target="_blank">Oveření způsobu napájení (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Huawei/6_deaktivace_aplikace_powerGenie.pdf" target="_blank">Deaktivace aplikace powerGenie (.pdf)</a></li>
          </ul>

          <h4>Telefony značky Lenovo:</h4>
          <ul>
            <li><a href="https://www.erouska.cz/navody/Lenovo/1_uzamceni_behu_eRousky.pdf" target="_blank">Uzamčení běhu eRoušky</a></li>
          </ul>

          <h4>Telefony značky Samsung:</h4>
          <ul>
            <li><a href="https://www.erouska.cz/navody/Samsung/1_nastaveni_baterie_pro_beh_eRousky.pdf" target="_blank">Nastavení baterie pro běh eRoušky (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Samsung/2_omezeni_optimalizace_vyuziti_baterie_pro_eRousku.pdf" target="_blank">Omezení optimalizace využití baterie pro eRoušku (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Samsung/3_pridani_eRousky_do_seznamu_App_power_monitor.pdf" target="_blank">Přidání eRoušky do seznamu App power monitor (.pdf)</a></li>
          </ul>

         <h4>Telefony značky Sony:</h4>
          <ul>
            <li><a href="https://www.erouska.cz/navody/Sony/1_zajisteni_behu_eRousky_na_pozadi.pdf" target="_blank">Zajištění běhu eRoušky na pozadi (.pdf)</a></li>
          </ul>

         <h4>Telefony značky Xiaomi:</h4>
          <ul>
            <li><a href="https://www.erouska.cz/navody/Xiaomi/1_komplexni_navod_pro_Redmi_Note_5_a_vyssi.pdf" target="_blank">Komplexní návod pro Redmi Note 5 a vyšší (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Xiaomi/2_vypnuti_sporice_baterie.pdf" target="_blank">Vypnutí spořiče baterie (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Xiaomi/3_nastaveni_behu_na_pozadi_pro_eRousku.pdf" target="_blank">Nastavení běhu na pozadí pro eRoušku (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Xiaomi/4_omezeni_adaptivni_baterie.pdf" target="_blank">Omezení adaptivní baterie (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Xiaomi/5_vyjimka_z_optimaizace_baterie_pro_eRousku.pdf" target="_blank">Výjimka z optimalizace baterie pro eRoušku (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Xiaomi/6_vyjimka_z_omezeni_na_pozadi_pro_eRousku.pdf" target="_blank">Výjimka z omezeni na pozadí pro eRoušku (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Xiaomi/7_chraneny_status_pro_eRousku.pdf" target="_blank">Chraněný status pro eRoušku (.pdf)</a></li>
            <li><a href="https://www.erouska.cz/navody/Xiaomi/8_overeni_zpusobu_napajeni.pdf" target="_blank">Ověření způsobu napajení (.pdf)</a></li>
          </ul>


        </div>
      </div>

    </div>
  </div>
</section>
