.aside {
    position: sticky;
    top: 30px;

    width: 280px;
    margin-left: auto;
    margin-top: 140px;
    padding: 40px;

    max-height: calc(100vh - 35px);
    overflow: auto;

    text-align: center;

    border-radius: $radius;
    background: rgb(228, 249, 254);
    background: linear-gradient(180deg, rgba(228, 249, 254, 1) 0%, rgba(245, 254, 253, 1) 100%);

    .page--homepage & {
        margin-top: 440px;
    }

    .page--faq & {
        text-align: left;
    }
}

.aside__title {
    font-family: $font_merriweather;
    font-size: 24px;

    .page--faq & {
        margin: 0;
    }
}

.aside__actions {
    align-items: center;

    margin: 0;
    margin-top: 40px;
    padding: 0;

    list-style-type: none;

    li {
        margin-bottom: 25px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .page--faq & {
        margin-top: 25px;
    }

    .page--faq .mobile-menu & {
        margin-bottom: 50px;
    }
}

.aside__button {
    width: 100%;
    padding: 0;

    font-size: 15px;
    line-height: 40px;
}

.aside__anchor {
    display: block;
    position: relative;
    text-decoration: none;
    line-height: 1.4em;

    &::before {
        content: ' ';
        position: absolute;
        left: -20px;
        top: 0;
        bottom: 0;
        border-left: 2px solid $color_blue;
        border-right: 2px solid $color_blue;
        border-radius: 2px;
        width: 4px;
        background-color: $color_blue;
        opacity: 0;
        transition: opacity 0.5s;
    }
}

.aside__anchor--active::before {
    opacity: 1;
}

.aside__anchor__title {
    font-weight: bold;
    text-decoration: underline;
    color: $color_blue;

    .aside__anchor:hover & {
        text-decoration: none;
    }
}

.aside__anchor__description {
    color: $color_black;
}
