.faq {
}

.faq__item {
    padding-bottom: 30px;

    border-bottom: 3px solid #eef6fc;

    @include respond-to('medium') {
        margin-bottom: 40px;
        padding-bottom: 40px;
    }
}

.faq__q {
    cursor: pointer;

    &:hover {
        color: $color_blue;
    }
}

.faq__a {
    display: none;
}

.faq__item--open {
    .faq__a {
        display: block;
    }
}
