.footer {
    padding: 50px 0;

    background-color: #e5f6fc;

    @include respond-to('xlarge') {
        padding: 105px 0;
    }
}

.footer__content {
    display: flex;
    flex-direction: column;

    @include respond-to('xlarge') {
        flex-direction: row;
    }
}

.footer__col--1 {
    flex: 1;

    margin-bottom: 50px;

    @include respond-to('medium') {
        margin-bottom: 80px;
    }
    @include respond-to('xlarge') {
        margin-bottom: 0;
    }
}

.footer__col--2 {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @include respond-to('medium') {
        justify-content: flex-start;
    }
    @include respond-to('xlarge') {
        justify-content: space-between;

        width: 300px;
        margin-left: 50px;
    }
}

.footer__logo {
    margin-bottom: 50px;

    text-align: center;

    @include respond-to('medium') {
        margin-bottom: 80px;

        text-align: left;
    }
}

.footer__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;

    @include respond-to('medium') {
        flex-direction: row;

        text-align: left;
    }
}

.footer__menu__list {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
        font-size: 18px;
        font-weight: 700;
        line-height: 40px;
    }

    a {
        color: $color_blue;
        text-decoration: none;

        &:hover {
            color: $color_blue_dark;
            text-decoration: underline;
        }
    }
}

.footer__menu__list--1 {
    a {
        color: $color_red;

        &:hover {
            color: $color_red_dark;
        }
    }
}

.footer__partners, .footer__social {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    margin: 0;
    padding: 0;

    list-style: none;

    @include respond-to('medium') {
        align-items: flex-end;
        flex-direction: row;
        justify-content: flex-start;
    }
    @include respond-to('xlarge') {
        align-items: center;
        justify-content: center;
    }

    li {
        margin-bottom: 40px;

        @include respond-to('medium') {
            margin: 0;
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        strong {
            display: block;
            font-size: 12px;
            text-align: center;
            margin-top: 6px;
        }

        a {
            color: $color_black;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer__social {
    flex-direction: row;
    padding: 0 20px;
    margin-top: 40px;

    li {
        padding: 20px;
        margin-right: 5px;
        max-width: 75px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }

        @include respond-to('medium') {
            margin-right: 20px;
        }
    }
}
