.link {
    display: flex;
    text-decoration: none;
    margin: 28px 0;

    .page--press & {
        margin: 16px 0;
    }

    .page--press .faq__item:first-child & {
        margin-top: 0;
    }
}

.link__icon-container {
    flex-grow: 0;
    flex-shrink: 0;
    width: 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.link__icon {
    width: 42px;
    opacity: .3;
    transition: opacity .1s;

    .link:hover & {
        opacity: 1;
    }
}

.link__text {
    padding-left: 24px;
    font-size: 20px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.4em;
}

.link__title {
    font-weight: bold;
    color: $color_black;
    margin-bottom: 10px;

    .link:hover & {
        text-decoration: none;

        .page--press & {
            text-decoration: underline;
        }
    }
}

.link__description {
    color: $color_black;
}
