// základní nastavení typografie

// nadpisy
h1,
h2,
h3,
h4 {
  margin-top: 0;

  color: $color_black;
  line-height: 1.3;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 10px;
}

// odkazy
a {
  color: $color_main;

  &:hover,
  &:focus {
    color: $color_main_dark;
  }
}

// odstavce
p {
  margin-top: 0;

  line-height: 1.4;
}

// seznamy
ul,
ol {
  margin: 0 0 10px 0;
  padding: 0 0 0 20px;

  line-height: 1.4;

  li {
    padding: 3px 3px 3px 0;
  }

  ul,
  ol {
    margin: 0;
    padding: 3px 3px 0 10px;

    li {
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

// základní citace
blockquote {
  margin: 0 0 10px 0;
  padding: 15px 15px 1px 18px;

  border-left: 2px solid $color_main;
  background-color: $color_main_light;
}
