// barvy

// základní barvy
$color_white: #fff;
$color_black: #222222;
$color_blue: #228ed5;
$color_blue_dark: #005790;
$color_red: #ff0d58;

$font_merriweather: 'Merriweather', serif;
$font_opensans: 'Open Sans', sans-serif;

// zakulacené rohy
$radius: 6px;
$radius_button: 6px;
