.aside {
  position: absolute;
  top: 440px;
  left: 50%;

  width: 280px;
  margin-left: 320px;
  padding: 40px;

  text-align: center;

  border-radius: $radius;
  background: #e3f9ff;

  &.fixed {
    position: fixed;
    top: 30px;
  }
}

.aside__title {
  font-family: $font_merriweather;
  font-size: 24px;
}

.aside__actions {
  align-items: center;

  margin: 0;
  margin-top: 40px;
  padding: 0;

  list-style-type: none;

  li {
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.aside__button {
  width: 100%;
  padding: 0;

  font-size: 15px;
  line-height: 40px;
}
