// tlačítko
.button {
  display: inline-block;

  color: $color_white;
  font: inherit; // pro sladění vzhledu buttonu a odkazu
  font-size: 16px;
  font-weight: 700;
  line-height: 16px; // pro sladění výšky tlačítka
  text-decoration: none;

  border: none;
  border-radius: $radius_button;
  background-color: $color_blue;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color_blue_dark;
  }
}

.button--primary{
  line-height: 64px;
  padding: 0 50px;
}
