.faq {
}

.faq__item{
  border-bottom: 3px solid #eef6fc;
  padding-bottom: 30px;

  @include respond-to('medium'){
    padding-bottom: 40px;
    margin-bottom: 40px;
  }
}

.faq__q{
  cursor: pointer;
}

.faq__a{
  display: none;
}

.faq__item--open{
  .faq__a{
    display: block;
  }
}
