
.heading{
  padding: 35px 0;

  @include respond-to('medium'){
    padding: 70px 0;
  }

}

.heading__title{
  color: $color_blue;
  font-family: $font_merriweather;
  font-size: 70px;
  font-weight: 700;
  line-height: 87px;
  margin: 0;
}
