
.heading {
  padding: 35px 0;

  text-align: center;

  @include respond-to('medium') {
    padding: 70px 0;

    text-align: left;
  }
}

.heading__title {
  margin: 0;

  color: $color_blue;
  font-family: $font_merriweather;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.5em;

  @include respond-to('medium') {
    font-size: 70px;
    line-height: 87px;
  }
}

.heading__perex {
  max-width: 700px;
  margin-top: 50px;
  p {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;

    @include respond-to('medium') {
      font-size: 24px;
      line-height: 35px;
    }
  }
}
