.hero{
  border: 1px solid red;
  margin-bottom: 50px;
}

.hero__title{
  font-family: $font_merriweather;
  color: $color_blue;
  font-size: 70px;
  font-weight: 700;
  line-height: 87px;

  span{
    color: $color_red;
  }
}

.hero__intro{
  p{
    font-size: 24px;
    line-height: 40px;
  }
}

.hero__urgent{
  p{
    font-family: $font_merriweather;
    font-size: 24px;
    font-weight: 700;
    line-height: 60px;
  }
}
