.section{
  padding-top: 25px;
  margin-bottom: 25px;

  @include respond-to('xlarge'){
    padding-top: 140px;
    margin-bottom: 50px;
  }
}

.section--narrow{
  @include respond-to('xlarge'){
    max-width: 700px;
  }

}

.section__title{
  font-family: $font_merriweather;
  color: $color_blue;
  font-size: 67px;
  font-weight: 700;
  line-height: 87px;
  margin: 0;
  margin-bottom: 65px;
  padding-top: 40px;
  text-align: center;

  @include respond-to('xlarge'){
    text-align: left;
    padding-top: 20px;
  }
}

.section__item{
  margin-bottom: 65px;

  h3{
    font-size: 20px;
    line-height: 34px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
  }

  p{
    font-size: 20px;
    font-weight: 400;
    line-height: 33px;

    strong{
      font-style: italic;
    }
  }
}

.section__item--blue{
  h3{
    color: $color_blue;
  }
}

.section__item--red{
  h3{
    color: $color_red;
  }
}

