// barvy

// základní barvy
$color_white: #fff;
$color_black: #222222;
$color_blue: #228ed5;
$color_blue_dark: #005790;
$color_red: #ff0d58;
$color_red_dark: #DB0047;
$color_silver: #A9B5BC;

$font_merriweather: 'Merriweather', serif;
$font_opensans: 'Open Sans', sans-serif;

// zakulacené rohy
$radius: 10px;
$radius_button: 7px;
